<div style="margin-top:8%;"></div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well workshop-title-well">
			<h2 class="text-center">Welcome to Rails Workshop</h2>
		</div>
		<div class="panel panel-info reg-panel">
			<div class="panel-heading reg-info">
				<h3 class="panel-title">Sign In Here</h3>
			</div>
<div class="panel-body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	<div class="row">
						<div class="col-md-offset-2 col-md-8">
							<div class="input-group form-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<%= f.email_field :email, autocomplete: "off",autofocus: true, placeholder: "email", class: "form-control input-lg" %>
							</div>
						</div>
					</div>

 <div class="row">
	 <div class="col-md-offset-2 col-md-8">
		 <div class="input-group form-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			 <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control input-lg" %>
	 </div>
 </div>
	 </div>

	<% if devise_mapping.rememberable? -%>
	 <div class="row">
	 <div class="col-md-offset-2 col-md-8">
		 <div class="input-group form-group">
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
		</div>
	</div>
</div>
	<% end -%>

	<div class="row">
						<div class="col-md-8 col-md-offset-2">    
							<div class="actions">
								<%= f.submit "Log in", class: "btn btn-register btn-lg btn-block" %>
							</div>
						</div>
					</div>
<% end %>

<div class="for-password col-md-8 col-md-offset-2">
<%= link_to "Forgot your password?", new_password_path(resource_name) %>
	</div>
			</div>
		</div>
	</div>
</div>

