<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_module.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_module.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_module.course %>
</p>

<%= link_to 'Edit', edit_admins_course_module_path(@course_module) %> |
<%= link_to 'Back', admins_course_modules_path %>
